
<link rel="stylesheet" type="text/css"
    href="{{ STATIC_URL }}my_admin/css/widgets.css"/>

<script type="text/javascript"
    src="/admin/jsi18n/"></script>
<script type="text/javascript"
    src="{{ STATIC_URL }}my_admin/js/core.js"></script>
<script type="text/javascript"
    src="{{ STATIC_URL }}my_admin/js/admin/RelatedObjectLookups.js"></script>

<script type="text/javascript"
    src="{{ STATIC_URL }}my_admin/js/actions.js"></script>
<script type="text/javascript"
    src="{{ STATIC_URL }}my_admin/js/calendar.js"></script>
<script type="text/javascript"
    src="{{ STATIC_URL }}my_admin/js/admin/DateTimeShortcuts.js"></script>

